.headerContainer {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.5) 100%,
      rgba(28, 28, 194, 0.5) 100%
    ),
    url("../../assets/images/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header__wrapper {
  width: 1024px;
  max-width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__wrapper > h1 {
  font-size: 3.5rem;
  color: rgb(210, 53, 53);
}

.header__div {
  width: 200px;
  height: 4px;
  background: #0693e3;
}

.animation {
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
}

.header__icon {
  margin-top: 5rem;
  font-size: 2rem;
  animation: down 6s ease infinite;
}

@keyframes down {
  0% {
    transform: translateY(-100%)
  }
  50% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(-100%)
  }
}

@media screen and (max-width: 991px) {
  /* .center {
    margin-top: 3rem;
  } */
  .header__wrapper > h1 {
    font-size: 3rem;
  }

  .animation {
    font-size: 2rem;
  }
}

@media screen and (max-width: 390px) {
  .header__wrapper > h1 {
    font-size: 2.3rem;
  }

  .animation {
    font-size: 1.5rem;
  }
}



