.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  line-height: 1.5rem;
}

.services-col-grid {
  border: 1px solid grey;
}

/* .service__content {
  max-width: 300px;
  margin-left: 30px;
} */

/* .service__image {
  max-width: 300px;
} */

.service__image > img {
  object-fit: cover;
  overflow: hidden;
  height: 250px;
  width: 100%;
}


.service__content > h3 {
    margin-block: 2rem;
    font-size: 3rem;
    color: #fff;
}

.service__content > h2 {
    margin-block: 1rem;
    color: #fff;
}

.service__content1 {
    height: 50px;
}

.service__content1 > p {
    color: #fff;
}

.part {
  padding-top: 4rem;
  padding-bottom: 1rem;
    font-weight: bold;
    color: rgb(210, 53, 53);
}

/* .hello:hover * {
    background-color: rgb(210, 53, 53);
    color: #fff;
  } */
.service__textz > h2 {
  color: #fff;
}

.service__textz {
  padding: 10px 1rem;
}