.contact__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.contact__wrapper {
  width: 1024px;
  max-width: 100%;
}

.contact__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  display: block;
}

textarea {
  resize: none;
  outline: none;
}

.form__input {
  padding: 0.8rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

.form__button {
  outline: none;
  width: 100px;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  background: rgb(210, 53, 53);
  color: white;
}

.contact__head {
  min-height: 50vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5) 100%,
    rgba(28, 28, 194, 0.5) 100%
  ),url("../../assets/images/hey.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.contact__lead {
  text-align: center;
  padding-block: 2rem;
}

.contact__flap {
  width: 1024px;
  max-width: 100%;
}

.contact__flap > h2 {
  margin-top: 4rem;
  font-size: 2rem;
}

.contact__lead > h2 {
  color: #0693e3;
  font-size: 2rem;
}

.contact__lead > p {
  color: rgb(49, 49, 160);
  font-size: 1.1rem;
}

.contact__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(49, 49, 160);
}

.contact__info .icon {
  font-size: 3rem;
  width: 100%;
  color: #0693e3 !important;
}

.contact__info > div {
  max-width: 300px;
  margin: 5rem 0;
}
