.navbar {
  display: flex;
  justify-content: center;
  color: #fff;
  min-height: 15vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbarContainer {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  gap: 10px;
}

.navbarContainer > .nav__drop > .nav__btn {
  color: #fff;
}

/* .navbarContainer1 {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  background-color: #0693e3 !important;
  align-items: center;
  border-radius: 10px;
} */

.navbarContainer1 {
  display: flex;
  width: 100%;
  /* max-width: 1024px; */
  justify-content: space-between;
  background-color: #fff !important;
  align-items: center;
  /* border-radius: 10px; */
  color: #1F425D;
  gap: 10px;
}

.navbarLinks > ul {
  display: flex;
  list-style: none;
}

.navbarLinks > ul > li {
  width: 100px;
  font-weight: 600;
}

.quote {
  background-color: #0693e3;
  padding: 10px;
  width: 150px;
  text-align: center;
  color: #fff;
}

.nav__drop {
  position: relative;
  height: 100%;
}

.dropdown__menu {
  position: absolute;
  top: calc(100% + 5.5vh);
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  color: #fff;
  background-color: #0693e3;
  padding: 2rem;
  line-height: 2.4rem;
  width: 300px;
}

.nav__btn {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.nav__drop > .nav__btn:focus + .dropdown__menu {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-links p > a:focus {
  pointer-events: auto;
}

.dropdown-links p > a:hover {
  color: #1F425D;
}

.dropdown-links > p:hover {
  text-decoration: underline;
  width: 100%;
}

.iconContainer {
  font-size: 1.5rem;
  border: 1px solid #fff;
  padding: 0.2em;
  margin-right: 3rem;
}

.iconContainer {
  display: none;
}

.toggleIcon {
  margin: auto 0;
}

@media screen and (max-width: 991px) {
  .iconContainer {
    display: block;
  }

  .navbarLinks {
    display: block;
    position: absolute;
    top: calc(100% + 0vh);
    right: -100%;  
    background-color: rgba(255, 255, 255, 1); 
    min-height: 100vh; 
    width: 100%;
    color: blue;
    font-size:1.5rem;
  }

  .navbarLinks > ul {
    flex-direction: column;
  }

  .navbarLinks.active {
    right: 0;
  }
}
