.footer__container {
    /* background-color:rgba(23,27,38,1); */
    background: url('../../assets/images/footer_bg.png');
    background-position: center;
    /* background-size: cover; */
    min-height: 60vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.footer__wrapper {
    width: 1024px;
    max-width: 100%;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    flex-wrap: wrap;
}

.footer__flex > div ul {
    list-style-type: none;
}