.begin__container {
    position: relative;
    margin-bottom: 1.4rem;
}
.begin__container > h1{
    font-size: 5em;
    -webkit-text-stroke: 1px rgb(216, 216, 216);
    color: transparent;
    letter-spacing: 0.2rem;
}

.begin__container p {
    position: absolute;
    top: 70%;
    left: 20px;
    color: #EB6B61;
    font-weight: 500;
    font-size: 15px;
    margin-block: .5rem;
}