.sector__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.sector__wrapper {
  width: 1024px;
  max-width: 100%;
  overflow: hidden;
}

.sector__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-block: 90px;
}

.sector__img > img {
  width: 500px;
  max-width: 100%;
  height: 600px;
  max-height: auto;
  object-fit: cover;
}

.sector__content1 {
  height: fit-content;
  line-height: 2.78rem;
  min-height: 60vh;
}

.sector__content1 > h2 {
  color: rgb(210, 53, 53);
  font-size: 2rem;
}

.sector__content1  .grt {
  color: "#abb8c3";
}

.sector {
  font-size: 1.3rem;
  /* font-weight: light; */
  /* color: #abb8c3; */
  color: "#1F425D";
}

.sector__iconz {
  display: flex;
  align-items: center;
  color: "#1F425D";
  gap: 1rem;
}

.sector__icons {
  font-size: 4rem;
  color: #0693e3;
}

