.sector__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sector__wrapper {
    width: 1024px;
    max-width: 100%;
    overflow: hidden;
}

.sector__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sector__img > img {
    width: 400px;
    max-width: 100%;
    height: 500px;
    max-height:auto;
}

.sector__content1 {
    height: fit-content;
    line-height: 2.78rem;
    min-height: 60vh;
}